<div>
  {% for node in data %}
  <div id="list">
    <img src="{{ file_url(node.field_event_image.entity.fileuri) }} " class="listevent-img">
    <div class="event-desc">
      <h5>
        {{ node.field_event_date.value | date("d F Y") }}
      </h5>
      <h1>
        {{ node.title.value }}
      </h1>
      <a href="/node/{{ node.id }}">
        detail
      </a>
    </div>
  </div>
  {% endfor %}
</div>
