<div>
  <h5>
    News
  </h5>
  {% for node in data %}
  <div id="news">
    <img src="{{ file_url(node.field_news_image.entity.fileuri) }} " class="event-img">
    <div class="event-desc">
      <h5>
        {{ node.field_publish_date.value | date("d F Y") }}
      </h5>
      <p>
        {% set text = node.body.value|striptags %}
        {{ text|length > 300 ? text|slice(0, 300)|raw ~ '...' : text|raw }}
      </p>
      <a href="/node/{{ node.id }}">
        detail
      </a>
    </div>
  </div>
  {% endfor %}
</div>
